<header>

	<nav>
		[<a href="#">Docs</a>]
		[<a href="#">txt</a>|<a href="#">pdf</a>]
		[<a href="#">Tracker</a>]
		[<a href="#">Errata</a>]
	</nav>

	<table>
		<tr>
			<td>Updated by: <a href="#">2549</a>, <a href="#">6214</a></td>
			<td>EXPERIMENTAL</td>
		</tr>
		<tr>
			<td></td>
			<td>Errata Exist</td>
		</tr>
	</table>

</header>

<main>

	<table>
		<tr>
			<td>Network Working Group</td>
			<td>D. Waitzman</td>
		</tr>
		<tr>
			<td>Request for Comments: 1149</td>
			<td>BBN STC</td>
		</tr>
		<tr>
			<td></td>
			<td>1 April 1990</td>
		</tr>
	</table>

	<h1>A Standard for the Transmission of IP Datagrams on Avian Carriers</h1>

	<h2>Status of this Memo</h2>

	<p>This memo describes an experimental method for the encapsulation of IP datagrams in avian carriers. This specification is primarily useful in Metropolitan Area Networks. This is an experimental, not recommended standard. Distribution of this memo is unlimited.</p>

	<h2>Overview and Rational</h2>

	<p>Avian carriers can provide high delay, low throughput, and low altitude service. The connection topology is limited to a single point-to-point path for each carrier, used with standard carriers, but many carriers can be used without significant interference with each other, outside of early spring. This is because of the 3D ether space available to the carriers, in contrast to the 1D ether used by IEEE802.3. The carriers have an intrinsic collision avoidance system, which increases availability. Unlike some network technologies, such as packet radio, communication is not limited to line-of-sight distance. Connection oriented service is available in some cities, usually based upon a central hub topology.</p>

	<h2>Frame Format</h2>

	<p>The IP datagram is printed, on a small scroll of paper, in hexadecimal, with each octet separated by whitestuff and blackstuff. The scroll of paper is wrapped around one leg of the avian carrier. A band of duct tape is used to secure the datagram's edges. The bandwidth is limited to the leg length. The MTU is variable, and paradoxically, generally increases with increased carrier age. A typical MTU is 256 milligrams. Some datagram padding may be needed.</p>

	<p>Upon receipt, the duct tape is removed and the paper copy of the datagram is optically scanned into a electronically transmittable form.</p>

	<h2>Discussion</h2>

	<p>Multiple types of service can be provided with a prioritized pecking order. An additional property is built-in worm detection and eradication. Because IP only guarantees best effort delivery, loss of a carrier can be tolerated. With time, the carriers are self-regenerating. While broadcasting is not specified, storms can cause data loss. There is persistent delivery retry, until the carrier drops. Audit trails are automatically generated, and can often be found on logs and cable trays.</p>

	<h2>Security Considerations</h2>

	<p>Security is not generally a problem in normal operation, but special measures must be taken (such as data encryption) when avian carriers are used in a tactical environment.</p>

	<h2>Author's Address</h2>

	<p>David Waitzman<br>
	BBN Systems and Technologies Corporation<br>
	BBN Labs Division<br>
	10 Moulton Street<br>
	Cambridge, MA 02238</p>

	<p>Phone: (617) 873-4323</p>

	<p>EMail: dwaitzman@BBN.COM</p>

</main>