<header>

	<nav>
		[<a href="#">Docs</a>]
		[<a href="#">txt</a>|<a href="#">pdf</a>]
		[<a href="#">draft-carpenter...</a>]
		[<a href="#">Diff1</a>]
		[<a href="#">Diff2</a>]
		[<a href="#">Tracker</a>]
		[<a href="#">Errata</a>]
	</nav>

	<table>
		<tr>
			<td></td>
			<td>INFORMATIONAL</td>
		</tr>
		<tr>
			<td></td>
			<td>Errata Exist</td>
		</tr>
	</table>

</header>

<main>

	<table>
		<tr>
			<td>Independent Submission</td>
			<td>B. Carpenter</td>
		</tr>
		<tr>
			<td>Request for Comments: 6214</td>
			<td>Univ. of Auckland</td>
		</tr>
		<tr>
			<td>Category: Informational</td>
			<td>R. Hinden</td>
		</tr>
		<tr>
			<td>ISSN: 2070-1721</td>
			<td>Check Point Software</td>
		</tr>
		<tr>
			<td></td>
			<td>1 April 2011</td>
		</tr>
	</table>

	<h1>Adaptation of <a href="#">RFC 1149</a> for IPv6</h1>

	<h2>Abstract</h2>

	<p>This document specifies a method for transmission of IPv6 datagrams
	over the same medium as specified for IPv4 datagrams in RFC 1149.</p>

	<h2>Status of This Memo</h2>

	<p>This document is not an Internet Standards Track specification; it is published for informational purposes.</p>

	<p>This is a contribution to the RFC Series, independently of any other RFC stream. The RFC Editor has chosen to publish this document at its discretion and makes no statement about its value for implementation or deployment. Documents approved for publication by the RFC Editor are not a candidate for any level of Internet Standard; see <a href="#">Section 2 of RFC 5741</a>.</p>

	<p>Information about the current status of this document, any errata, and how to provide feedback on it may be obtained at <a href="#">http://www.rfc-editor.org/info/rfc6214</a>.</p>

	<h2>Copyright Notice</h2>

	<p>Copyright (c) 2011 IETF Trust and the persons identified as the document authors. All rights reserved.</p>

	<p>This document is subject to <a href="#">BCP 78</a> and the IETF Trust's Legal Provisions Relating to IETF Documents ( <a href="#">http://trustee.ietf.org/license-info</a>) in effect on the date of publication of this document. Please review these documents carefully, as they describe your rights and restrictions with respect to this document.</p>

	<h2>Table of Contents</h2>

	<table>
		<tr>
			<td><a href="#section-1">1</a>. Introduction</td>
			<!-- <td><a href="#page-2">2</a></td> -->
		</tr>
		<tr>
			<td><a href="#section-2">2</a>. Normative Notation</td>
		</tr>
		<tr>
			<td><a href="#section-3">3</a>. Detailed Specification</td>
		</tr>
		<tr>
			<td><a href="#section-3.1">3.1</a>. Maximum Transmission Unit</td>
		</tr>
		<tr>
			<td><a href="#section-3.2">3.2</a>. Frame Format</td>
		</tr>
		<tr>
			<td><a href="#section-3.3">3.3</a>. Address Configuration</td>
		</tr>
		<tr>
			<td><a href="#section-3.4">3.4</a>. Multicast</td>
		</tr>
		<tr>
			<td><a href="#section-4">4</a>. Quality-of-Service Considerations</td>
		</tr>
		<tr>
			<td><a href="#section-5">5</a>. Routing and Tunneling Considerations</td>
		</tr>
		<tr>
			<td><a href="#section-6">6</a>. Multihoming Considerations</td>
		</tr>
		<tr>
			<td><a href="#section-7">7</a>. Internationalization Considerations</td>
		</tr>
		<tr>
			<td><a href="#section-8">8</a>. Security Considerations</td>
		</tr>
		<tr>
			<td><a href="#section-9">9</a>. IANA Considerations</td>
		</tr>
		<tr>
			<td><a href="#section-10">10</a>. Acknowledgements</td>
		</tr>
		<tr>
			<td><a href="#section-11">11</a>. References</td>
		</tr>
		<tr>
			<td><a href="#section-11.1">11.1</a>. Normative References</td>
		</tr>
		<tr>
			<td><a href="#section-11.2">11.2</a>. Informative References</td>
		</tr>
	</table>

	<h3 id="section-1">1. Introduction</h3>

	<p>As shown by [<a href="#">RFC6036</a>], many service providers are actively planning to deploy IPv6 to alleviate the imminent shortage of IPv4 addresses. This will affect all service providers who have implemented [<a href="#">RFC1149</a>]. It is therefore necessary, indeed urgent, to specify a method of transmitting IPv6 datagrams [<a href="#">RFC2460</a>] over the <a href="#">RFC 1149</a> medium, rather than obliging those service providers to migrate to a different medium. This document offers such a specification.</p>

	<h3 id="section-2">2. Normative Notation</h3>

	<p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in [<a href="#">RFC2119</a>].

	<h3 id="section-3">3. Detailed Specification</h3>

	<p>Unless otherwise stated, the provisions of [<a href="#">RFC1149</a>] and [<a href="#">RFC2460</a>] apply throughout.</p>

	<h3 id="section-3.1">3.1. Maximum Transmission Unit</h3>

	<p>As noted in <a href="#">RFC 1149</a>, the MTU is variable, and generally increases with increased carrier age. Since the minimum link MTU allowed by <a href="#">RFC 2460</a> is 1280 octets, this means that older carriers MUST be used for IPv6. <a href="#">RFC 1149</a> does not provide exact conversion factors between age and milligrams, or between milligrams and octets. These conversion factors are implementation dependent, but as an illustrative example, we assume that the 256 milligram MTU suggested in <a href="#">RFC 1149</a> corresponds to an MTU of 576 octets. In that case, the typical MTU for the present specification will be at least 256*1280/576, which is approximately 569 milligrams. Again as an illustrative example, this is likely to require a carrier age of at least 365 days.</p>

	<p>Furthermore, the MTU issues are non-linear with carrier age. That is, a young carrier can only carry small payloads, an adult carrier can carry jumbograms [<a href="#">RFC2675</a>], and an elderly carrier can again carry only smaller payloads. There is also an effect on transit time depending on carrier age, affecting bandwidth-delay product and hence the performance of TCP.</p>

	<h3 id="section-3.2">3.2. Frame Format</h3>

	<p><a href="#">RFC 1149</a> does not specify the use of any link layer tag such as an Ethertype or, worse, an OSI Link Layer or SNAP header [<a href="#">RFC1042</a>]. Indeed, header snaps are known to worsen the quality of service provided by <a href="#">RFC 1149</a> carriers. In the interests of efficiency and to avoid excessive energy consumption while packets are in flight through the network, no such link layer tag is required for IPv6 packets either. The frame format is therefore a pure IPv6 packet as defined in [<a href="#">RFC2460</a>], encoded and decoded as defined in [<a href="#">RFC1149</a>].</p>

	<p>One important consequence of this is that in a dual-stack deployment [<a href="#">RFC4213</a>], the receiver MUST inspect the IP protocol version number in the first four bits of every packet, as the only means to demultiplex a mixture of IPv4 and IPv6 packets.</p>

	<h3 id="section-3.3">3.3. Address Configuration</h3>

	<p>The lack of any form of link layer protocol means that link-local addresses cannot be formed, as there is no way to address anything except the other end of the link.</p>

	<p>Similarly, there is no method to map an IPv6 unicast address to a link layer address, since there is no link layer address in the first place. IPv6 Neighbor Discovery [<a href="#">RFC4861</a>] is therefore impossible.</p>

	<p>Implementations SHOULD NOT even try to use stateless address auto- configuration [<a href="#">RFC4862</a>]. This recommendation is because this mechanism requires a stable interface identifier formed in a way compatible with [<a href="#">RFC4291</a>]. Unfortunately the transmission elements specified by <a href="#">RFC 1149</a> are not generally stable enough for this and may become highly unstable in the presence of a cross-wind.</p>

	<p>In most deployments, either the end points of the link remain unnumbered, or a /127 prefix and static addresses MAY be assigned. See [<a href="#">IPv6-PREFIXLEN</a>] for further discussion.</p>






	<h3 id="section-3.4">3.4 Multicast</h3>

	<p><a href="./rfc1149">RFC 1149</a> does not specify a multicast address mapping. It has been reported that attempts to implement IPv4 multicast delivery have resulted in excessive noise in transmission elements, with subsequent drops of packet digests. At the present time, an IPv6 multicast mapping has not been specified, to avoid such problems.</p>

	<h3 id="section-4">4. Quality-of-Service Considerations</h3>

	<p>[<a href="#">RFC2549</a>] is also applicable in the IPv6 case. However, the author of <a href="#">RFC 2549</a> did not take account of the availability of the Differentiated Services model [<a href="#">RFC2474</a>]. IPv6 packets carrying a non-default Differentiated Services Code Point (DSCP) value in their Traffic Class field [<a href="#">RFC2460</a>] MUST be specially encoded using green or blue ink such that the DSCP is externally visible. Note that red ink MUST NOT be used to avoid confusion with the usage of red paint specified in <a href="#">RFC 2549</a>.</p>

	<p><a href="#">RFC 2549</a> did not consider the impact on quality of service of different types of carriers. There is a broad range. Some are very fast but can only carry small payloads and transit short distances, others are slower but carry large payloads and transit very large distances. It may be appropriate to select the individual carrier for a packet on the basis of its DSCP value. Indeed, different carriers will implement different per-hop behaviors according to <a href="#">RFC 2474</a>.</p>

	<h3 id="section-5">5. Routing and Tunneling Considerations</h3>

	<p>Routing carriers through the territory of similar carriers, without peering agreements, will sometimes cause abrupt route changes, looping packets, and out-of-order delivery. Similarly, routing carriers through the territory of predatory carriers may potentially cause severe packet loss. It is strongly recommended that these factors be considered in the routing algorithm used to create carrier routing tables. Implementers should consider policy-based routing to ensure reliable packet delivery by routing around areas where territorial and predatory carriers are prevalent.</p>

	<p>There is evidence that some carriers have a propensity to eat other carriers and then carry the eaten payloads. Perhaps this provides a new way to tunnel an IPv4 packet in an IPv6 payload, or vice versa.</p>

	<p>However, the decapsulation mechanism is unclear at the time of this writing.</p>

	<h3 id="section-6">6. Multihoming Considerations</h3>


	<p>ome types of carriers are notoriously good at homing. Surprisingly, this property is not mentioned in <a href="#">RFC 1149</a>. Unfortunately, they prove to have no talent for multihoming, and in fact enter a routing loop whenever multihoming is attempted. This appears to be a fundamental restriction on the topologies in which both <a href="#">RFC 1149</a> and the present specification can be deployed.</p>

	<h3 id="section-7">7. Internationalization Considerations</h3>

	<p>In some locations, such as New Zealand, a significant proportion of carriers are only able to execute short hops, and only at times when the background level of photon emission is extremely low. This will impact the availability and throughput of the solution in such locations.</p>

	<h3 id="section-8">8. Security Considerations</h3>

	<p>The security considerations of [<a href="#">RFC1149</a>] apply. In addition, recent experience suggests that the transmission elements are exposed to many different forms of denial-of-service attacks, especially when perching. Also, the absence of link layer identifiers referred to above, combined with the lack of checksums in the IPv6 header, basically means that any transmission element could be mistaken for any other, with no means of detecting the substitution at the network layer. The use of an upper-layer security mechanism of some kind seems like a really good idea.</p>

	<p>There is a known risk of infection by the so-called H5N1 virus. Appropriate detection and quarantine measures MUST be available.</p>

	<h3 id="section-9">9. IANA Considerations</h3>

	<p>This document requests no action by IANA. However, registry clean-up may be necessary after interoperability testing, especially if multicast has been attempted.</p>

	<h3 id="section-10">10. Acknowledgements</h3>

	<p>Steve Deering was kind enough to review this document for conformance with IPv6 requirements. We acknowledge in advance the many errata in this document that will be reported by Alfred Hoenes.</p>

	<p>This document was produced using the xml2rfc tool [<a href="#">RFC2629</a>].</p>


	<h3 id="section-11">11. References</h3>

	<h3 id="section-11.1">11.1 Normative References</h3>

	<table>
		<tr>
			<td>[<a href="#">RFC1149</a>]</td>
			<td>Waitzman, D., "Standard for the transmission of IP datagrams on avian carriers", <a href="./rfc1149">RFC 1149</a>, April 1990.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC2119</a>]</td>
			<td>Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", <a href="./bcp14">BCP 14</a>, <a href="./rfc2119">RFC 2119</a>, March 1997.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC2460</a>]</td>
			<td>Deering, S. and R. Hinden, "Internet Protocol, Version 6 (IPv6) Specification", <a href="./rfc2460">RFC 2460</a>, December 1998.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC2474</a>]</td>
			<td>Nichols, K., Blake, S., Baker, F., and D. Black, "Definition of the Differentiated Services Field (DS Field) in the IPv4 and IPv6 Headers", <a href="./rfc2474">RFC 2474</a>, December 1998.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC2675</a>]</td>
			<td>Borman, D., Deering, S., and R. Hinden, "IPv6 Jumbograms", <a href="./rfc2675">RFC 2675</a>, August 1999.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC4213</a>]</td>
			<td>Nordmark, E. and R. Gilligan, "Basic Transition Mechanisms for IPv6 Hosts and Routers", <a href="./rfc4213">RFC 4213</a>, October 2005.</td>
		</tr>
	</table>

	<h3 id="section-11.2">11.2 Informative References</h3>

	<table>
		<tr>
			<td>[<a href="#">IPv6-PREFIXLEN</a>]</td>
			<td>Kohno, M., Nitzan, B., Bush, R., Matsuzaki, Y., Colitti, L., and T. Narten, "Using 127-bit IPv6 Prefixes on Inter-Router Links", Work in Progress, October 2010.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC1042</a>]</td>
			<td>Postel, J. and J. Reynolds, "Standard for the transmission of IP datagrams over IEEE 802 networks", STD 43, <a href="./rfc1042">RFC 1042</a>, February 1988.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC2549</a>]</td>
			<td>Waitzman, D., "IP over Avian Carriers with Quality of Service", <a href="./rfc2549">RFC 2549</a>, April 1999.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC2629</a>]</td>
			<td>Rose, M., "Writing I-Ds and RFCs using XML", <a href="./rfc2629">RFC 2629</a>, June 1999.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC4291</a>]</td>
			<td>Hinden, R. and S. Deering, "IP Version 6 Addressing Architecture", <a href="./rfc4291">RFC 4291</a>, February 2006.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC4861</a>]</td>
			<td>Narten, T., Nordmark, E., Simpson, W., and H. Soliman, "Neighbor Discovery for IP version 6 (IPv6)", <a href="./rfc4861">RFC 4861</a>, September 2007.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC4862</a>]</td>
			<td>Thomson, S., Narten, T., and T. Jinmei, "IPv6 Stateless Address Autoconfiguration", <a href="./rfc4862">RFC 4862</a>, September 2007.</td>
		</tr>
		<tr>
			<td>[<a href="#">RFC6036</a>]</td>
			<td>Carpenter, B. and S. Jiang, "Emerging Service Provider Scenarios for IPv6 Deployment", <a href="./rfc6036">RFC 6036</a>, October 2010.</td>
		</tr>
	</table>

	<h2>Authors' Addresses</h2>

	<p>Brian Carpentern<br>
	Department of Computer Science<br>
	University of Auckland<br>
	PB 92019<br>
	Auckland, 1142<br>
	New Zealand</p>

	<p>EMail: brian.e.carpenter@gmail.com</p>

	<p>Check Point Software Technologies, Inc.<br>
	800 Bridge Parkway<br>
	Redwood City, CA 94065<br>
	US</p>

	<p>Phone: +1.650.387.6118<br>
	EMail: bob.hinden@gmail.com</p>

</main>