
// DROPDOWN element.

.drop-down {
  background: $grey-1;
  position: absolute;
  width: 400px;

  .dp-element {
    display: inline-block;
    padding: 15px 20px 0;
    width: 100%;

    &:last-of-type {
      padding: 15px 20px;
    }
  }

  .dp-head {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .dp-date,
  .dp-name {
    color: $font-grey;
    font-size: 14px;
  }

  .dp-name {
    margin: 0 0 7px;
  }
}
