
// VARIABLES

// Background colors.
$grey-1: #252a2b;
$grey-2: #3c4143;
$grey-3: #5e6366;

$teal-red: #39141E;

// Hover background colors.
$grey-1-hover: #384244;

// Font colors.
$font-grey: #9c9c9c;
$highlight: #3AC6C6;
