*,
*::after,
*::before {
  box-sizing: border-box; }

body,
html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

p {
  margin: 0; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

input {
  border: 0;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.7;
  padding: 10px 0; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 22px; }

p {
  color: #D5D5D5;
  font-size: 17px;
  margin: 7px 0;
  padding: 0; }

a {
  color: white; }

body {
  background: #3c4143; }

main.wrapper {
  display: flex;
  margin-top: 50px; }
  main.wrapper .column {
    transition: .5s;
    width: 50%; }
    main.wrapper .column .element {
      margin: 10px 0;
      padding: 5px 20px; }
    main.wrapper .column .element.block {
      background-color: #5e6366;
      border-radius: 5px; }
  main.wrapper .column-1 {
    margin: 0 15px 0 30px; }
  main.wrapper .column-2 {
    margin: 0 30px 0 15px; }
    main.wrapper .column-2 .element.block {
      transition: .5s;
      background-color: #39141E; }

pre {
  margin: 20px 0; }

.highlight {
  color: #3AC6C6; }

td a {
  color: #3AC6C6;
  font-weight: bold; }

header {
  align-items: center;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.34);
  display: flex;
  justify-content: space-between; }
  header h1 {
    margin: 0 30px;
    padding: 0; }
    header h1:hover {
      cursor: pointer; }
  header input {
    background: #252a2b;
    border: 0;
    color: #9c9c9c;
    font-size: 15px;
    height: 60px;
    padding: 0 20px;
    width: 400px; }

.drop-down {
  background: #252a2b;
  position: absolute;
  width: 400px; }
  .drop-down .dp-element {
    display: inline-block;
    padding: 15px 20px 0;
    width: 100%; }
    .drop-down .dp-element:last-of-type {
      padding: 15px 20px; }
  .drop-down .dp-head {
    align-items: baseline;
    display: flex;
    justify-content: space-between; }
  .drop-down .dp-date,
  .drop-down .dp-name {
    color: #9c9c9c;
    font-size: 14px; }
  .drop-down .dp-name {
    margin: 0 0 7px; }

/*# sourceMappingURL=style.css.map */
