
// TYPOGRAPHY
// Base rules.

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.7;
  padding: 10px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

p {
  color: #D5D5D5;
  font-size: 17px;
  margin: 7px 0;
  padding: 0;
}

a {
  color: white;
}