body {
  background: $grey-2;
}

// Class "wrapper" because there is another <main> tag in the RFC score.
main.wrapper {
  display: flex;
  margin-top: 50px;

  .column {
    transition: .5s;
    width: 50%;

    .element {
      margin: 10px 0;
      padding: 5px 20px;
    }

    .element.block {
      background-color: $grey-3;
      border-radius: 5px;
    }
  }

  .column-1 {
    margin: 0 15px 0 30px;
  }

  .column-2 {
    margin: 0 30px 0 15px;

    .element.block {
      transition: .5s;
      background-color: $teal-red;
    }
  }
}

// Other properties.

pre {
  margin: 20px 0;
}

.highlight {
  color: $highlight;
}

td a {
  color: $highlight;
  font-weight: bold;
}