
// HEADER

header {
  align-items: center;
  box-shadow: 0 0 15px 0 rgba(255,255,255,0.34);
  display: flex;
  justify-content: space-between;

  h1 {
    //font-size: 27px;
    margin: 0 30px;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    background: $grey-1;
    border: 0;
    color: $font-grey;
    font-size: 15px;
    height: 60px;
    padding: 0 20px;
    width: 400px;
  }
}
